@{
    Layout = "_BackOfficeLayout";
    ViewData["Title"] = "Dashboard";
}

<section class="admin-dashboard">
    <div class="container">
        <h2>BackOffice</h2>

      

        <partial name="/Views/Partials/_UserProfiles.cshtml" />
    </div>
</section>