.product-form {
    padding: 20px 0 60px 0;

    @include lg {
        padding: 50px 0;
    }

    .container {
        margin: 10rem auto 5rem auto;
        padding: 30px;
        width:50rem;

        @include md {
            border: 1px solid $color-dark-5;
        }

        .title {
            margin-bottom: 40px;
        }

        form {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;

            .validation-summary-errors {
                grid-area: message;
                margin: 10px 0;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                }
            }

            label {
                margin-bottom: 0.5rem;
            }

            .article-container {
                grid-area: article;
            }

            .productName-container {
                grid-area: productName;
            }

            .productDescription-container {
                grid-area: productDescription;
            }

            .price-container {
                grid-area: price;
            }

            .category-container {
                grid-area: category;
                margin-top: 2rem;
            }


            .tag-container {
                padding: 0 2rem 0 2rem;
                grid-area: tag;
                display:flex;
                justify-content:space-around;
               align-items:center;

                input{
                    width:2rem;
                }
            }

            .image-container {
                grid-area: image;
            }

            button {
                grid-area: button;

                @include lg {
                    display: flex;
                    justify-self: flex-start;
                }
            }

            input {
                width: 100%;
            }

            @media (min-width: 1200px) {
                display: grid;
                gap: 2rem;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "article productName" "category price" "productDescription productDescription" "tag tag" "image image" "button button";
            }
        }
    }
}
