.register-form #account-registration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.register-form #account-registration label {
  margin-bottom: 0.5rem;
}
.register-form #account-registration #firstName-container {
  grid-area: firstNContainer;
}
.register-form #account-registration #lastName-container {
  grid-area: lastNContainer;
}
.register-form #account-registration #streetName-container {
  grid-area: streetNContainer;
}
.register-form #account-registration #password-container {
  grid-area: passwordContainer;
}
.register-form #account-registration #passwordConfirmation-container {
  grid-area: confirmPContainer;
}
.register-form #account-registration #email-container {
  grid-area: emailContainer;
}
.register-form #account-registration #phoneNumber-container {
  grid-area: phoneNContainer;
}
.register-form #account-registration #companyName-container {
  grid-area: companyNContainer;
}
.register-form #account-registration #streetName-container {
  grid-area: streetNContainer;
}
.register-form #account-registration #postalCode-container {
  grid-area: postalCContainer;
}
.register-form #account-registration #city-container {
  grid-area: cityContainer;
}
.register-form #account-registration #country-container {
  grid-area: countryContainer;
}
.register-form #account-registration #profileImage-container {
  grid-area: profileIContainer;
}
.register-form #account-registration #button-container {
  grid-area: buttonContainer;
  margin-bottom: 10rem;
  width: 100%;
}
.register-form #account-registration input {
  width: 100%;
}
@media (min-width: 1200px) {
  .register-form #account-registration {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "firstNContainer lastNContainer" "emailContainer phoneNContainer" "companyNContainer companyNContainer" "passwordContainer confirmPContainer" "streetNContainer streetNContainer" "postalCContainer cityContainer" "countryContainer countryContainer" "profileIContainer profileIContainer" "buttonContainer buttonContainer";
  }
}
