

.new-product-form {
    padding: 20px 0 60px 0;
    border: 1px solid $color-dark-5;


    .container {
        margin-top: 25rem;
        border: 0px solid $color-dark-5;
        padding: 30px;


     



        form {
            display: grid;
            column-gap: 30px;
            row-gap: 30px;
            grid-template-columns: 1fr;
            grid-template-areas: "article" "productName" "productDescription" "price" "category" "isCheck" "image" "button";



            .validation-summary-errors {
                grid-area: message;
                margin: 20px 0;

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    display: flex;
                    justify-content: center;
                }
            }




            .article-container {
                grid-area: article;
            }

            .productName-container {
                grid-area: productName;
            }

            .productDescription-container {
                grid-area: productDescription;
                margin: 10px 0;
                align-items: center;
            }

            .price-container {
                grid-area: price;
                margin: 10px 0;
                align-items: center;
            }

            .category-container {
                grid-area: category;
                margin: 10px 0;
                align-items: center;
            }

            .isCheck-container {
                grid-area: isCheck;
                margin: 10px 0;
                align-items: center;
            }

            .image-container {
                grid-area: image;
                margin: 10px 0;
                align-items: center;
            }

            button {
                grid-area: button;
            }
        }
    }
}
