@model ContactFormViewModel


@{
    ViewData["Title"] = "Contact";
}

<section class="contact-form">
    <div class="container">
        <div class="title">@ViewData["Title"]</div>

        <form method="post" enctype="multipart/form-data" novalidate>

            <div asp-validation-summary="ModelOnly"  class="form-group text-danger"></div>
        
            <div class="name form-group">
                <label asp-for="Name">Your Name*</label>
                <input asp-for="Name" type="text">
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>
            <div class="email form-group">
                <label asp-for="Email">Your Email*</label>
                <input asp-for="Email" type="email" >
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="PhoneNumber">Phone Number (optional)</label>
                <input asp-for="PhoneNumber" id="phone" type="text">
            </div>
            <div class="companyName form-group">
                <label asp-for="CompanyName">Company (optional)</label>
                <input asp-for="CompanyName" id="company" type="text">
            </div>
            <div class="message form-group">
                <label asp-for="ContactMessage">Message*</label>
                <textarea asp-for="ContactMessage"></textarea>
                <small><span asp-validation-for="ContactMessage" class="text-danger"></span></small>
            </div>
            <div class="terms form-checkbox-group">
                <label asp-for="SaveInfo" class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input asp-for="SaveInfo" type="checkbox" checked="checked">
                    <span asp-validation-for="SaveInfo" class="checkmark"></span>
                </label>
            </div>
            <button type="submit" class="btn-theme">Submit</button>
        </form>
    </div>
</section>