

<section class="showcase">

    <div class="container">
        <div class="content">
            <div class="ingress"></div>
            <div class="title"></div>
            <button class="btn-theme"></button>
        </div>
        <div class="content-image">
            <img src="~/Images/Placeholders/625x647.svg" alt="">
        </div>
    </div>
</section>