@{
    ViewData["Title"] = "Access Denied";
}

<section class="login-form">

    <div class="d-flex justify-content-center">

    <div class="container">
        <h1>@ViewData["Title"]</h1>
        <p>You don't have permission to access this page </p>
    </div>
    </div>
</section>
